.outer {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  width: 90%;
}

.name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  padding: 20px;
  color: #26334a;
}

.avatar {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.user {
  padding: 10px;
  font-size: 1.3rem;
}
.userDropBtn {
  padding: 0;
  position: relative;
}

.userDropBtn img {
  width: 16px;
}

@media screen and (max-width: 400px) {
  .name {
    font-size: 20px;
    margin-left: 30px;
  }
}
