.navContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: fixed;
}

.innerContainer {
  position: relative;
}
.dropDownContact {
  position: absolute;
  left: 70px;
  top: 20px;
  width: 300px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

ul {
  list-style-type: none;
}

.heading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 22px;
  /* identical to box height */

  color: #4da1ff;
}

.space1 {
  height: 15vh;
}

.space2 {
  height: 25vh;
}
